---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const latestPosts = await Astro.glob('./blog/*.md');
---

<Layout title="シンプルブログ">
	<main>
		<h1>シンプル<span class="text-gradient">ブログ</span></h1>
		<p class="instructions">
			シンプルなブログシステムへようこそ。<br />
			<strong>最新の記事</strong>をチェックしてください。
		</p>
		<ul role="list" class="link-card-grid">
			{latestPosts.slice(0, 4).map(post => (
				<Card
					href={post.url}
					title={post.frontmatter.title}
					body={`投稿日: ${new Date(post.frontmatter.date).toLocaleDateString('ja-JP')}`}
				/>
			))}
			<Card
				href="/blog"
				title="すべての記事を見る"
				body="ブログの記事一覧ページへ"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
		text-align: center;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>